@keyframes fadeIn {
      from { opacity: 0; transform: translateY(10px); }
      to { opacity: 1; transform: translateY(0); }
    }
    .animate-fade-in {
      animation: fadeIn 0.4s ease-out forwards;
    }
    .event-image {
      height: 220px;
      object-fit: cover;
      width: 100%;
    }
    .form-container {
      min-height: 500px;
    }

::ng-deep .custom-tabview .p-tabview-nav li.p-highlight .tab-title {
  color: #0ea5e9; /* ex: bleu clair */
  font-weight: bold;
}

/* optionnel : changer le fond du conteneur */
::ng-deep .custom-tabview .p-tabview-nav li.p-highlight .tab-header {
  background-color: #f0f9ff; /* clair pour thème light */
}
