<div class="w-64 bg-white border-r border-gray-200 shadow h-screen p-6 flex flex-col justify-between">
  <!-- Header + Navigation -->
  <div>
    <h2 class="text-3xl font-semibold mb-10 text-center text-blue-700">Dashboard</h2>

    <nav class="flex flex-col space-y-4">
      <a style="cursor: pointer;" routerLink="/home/dashboard" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
         class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
        <div class="bg-blue-100 p-3 rounded-full">
          <lucide-icon name="LayoutGrid" class="w-6 h-6 text-blue-600"></lucide-icon>
        </div>
        <span class="font-semibold">Dashboard</span>
      </a>

      <a style="cursor: pointer;" routerLink="/home/evenement" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
         class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
        <div class="bg-amber-100 p-3 rounded-full">
          <lucide-icon name="CalendarRange" class="w-6 h-6 text-amber-600"></lucide-icon>
        </div>
        <span class="font-semibold">Événements</span>
      </a>

      <a style="cursor: pointer;" routerLink="/invitations" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
         class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
        <div class="bg-green-100 p-3 rounded-full">
          <lucide-icon name="Mail" class="w-6 h-6 text-green-600"></lucide-icon>
        </div>
        <span class="font-semibold">Invitations</span>
      </a>

      <a style="cursor: pointer;" routerLink="/visiteur" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
         class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
        <div class="bg-yellow-100 p-3 rounded-full">
          <lucide-icon name="UserRound" class="w-6 h-6 text-yellow-600"></lucide-icon>
        </div>
        <span class="font-semibold">Visiteurs</span>
      </a>

      <a style="cursor: pointer;" routerLink="/reports" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
         class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
        <div class="bg-violet-100 p-3 rounded-full">
          <lucide-icon name="ChartPie" class="w-6 h-6 text-violet-600"></lucide-icon>
        </div>
        <span class="font-semibold">Reports</span>
      </a>
    </nav>
  </div>

  <!-- Déconnexion en bas -->
  <a style="cursor: pointer;" (click)="logOut()" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
     class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
    <div class="bg-red-100 p-3 rounded-full">
      <lucide-icon name="LogOut" class="w-6 h-6 text-red-600"></lucide-icon>
    </div>
    <span class="font-semibold">Déconnexion</span>
  </a>
</div>
