<div class="w-64 bg-white border-r border-gray-200 shadow h-screen p-6 flex flex-col">
      <h2 class="text-3xl font-semibold mb-10 text-center text-blue-700">Dashboard</h2>

      <nav class="flex flex-col space-y-4">
        <a routerLink="/home/dashboard" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
           class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
          <div class="bg-blue-100 p-3 rounded-full">
          <lucide-icon name="LayoutGrid" class="w-6 h-6 text-blue-600"></lucide-icon>
          </div>
          <span>Dashboard</span>
        </a>

        <a routerLink="/home/evenement" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
           class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
          <div class="bg-blue-100 p-3 rounded-full">
          <lucide-icon name="CalendarRange" class="w-6 h-6 text-blue-600"></lucide-icon>
          </div>
          <span>Événements</span>
        </a>

        <a routerLink="/invitations" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
           class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
          <div class="bg-blue-100 p-3 rounded-full">
          <lucide-icon name="Mail" class="w-6 h-6 text-blue-600"></lucide-icon>
          </div>
          <span>Invitations</span>
        </a>

        <a routerLink="/visiteur" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
           class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
          <div class="bg-blue-100 p-3 rounded-full">
          <lucide-icon name="UserRound" class="w-6 h-6 text-blue-600"></lucide-icon>
          </div>
          <span>Visiteurs</span>
        </a>

        <a routerLink="/reports" routerLinkActive="bg-blue-50 text-blue-600 font-medium"
           class="flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-blue-100 transition">
          <div class="bg-blue-100 p-3 rounded-full">
          <lucide-icon name="ChartPie" class="w-6 h-6 text-blue-600"></lucide-icon>
          </div>
          <span>Reports</span>
        </a>
      </nav>
    </div>